<a id="open-my-popup-ask-guide" [hidden]="true" data-toggle="modal" data-target="#my-popup-ask-guide"></a>
<div class="modal fade" id="my-popup-ask-guide" role="dialog">
  <div class="modal-dialog modal-content popup-guide-size">
    <div class="modal-header text-center">
      <h4 class="modal-title">Do you want to take a guided tour in trend monitor?</h4>
    </div>
    <div class="modal-footer center">
      <button type="button" class="btn popup-guide-button" data-dismiss="modal" data-toggle="modal" data-target="#my-modal-tour-guide">Yes</button>
      <button type="button" class="btn popup-guide-button-end" data-dismiss="modal">No</button>
    </div>
  </div>
</div>