 .tour-guide-size{
    width:900px;
    height:500px;
}

 .modal-body{
    max-height:500px;
    overflow:auto;
}
 .modal-img{
    max-width: 60%;
}
 .center {
    text-align: center;
  }
 .div {
    width: 200px;
    border: 3px solid #999;
  }
  .tour-guide-div-bodytitle {
    height: 30px;
    width: 100%;
    font-size: 20px
}
.tour-guide-div-bodyimage {
  height: 360px;
  width: 100%;
}
.tour-guide-div-bodydetail {
  height: 60px;
  width: 100%;
  text-align: justify;
}

  .btn-color {
    background-color: #f93;
}
.tour-guide-button{
  background-color: #f93;
  width: 100px;
  height: 40px;
  border-radius: 12px;
  color: black;
  border: 2px solid #FFFFFF;
  font-size: 16px;
}
.tour-guide-button-select{
  background-color: #f93;
  width: 350px;
  height: 40px;
  border-radius: 12px;
  color: black;
  border: 2px solid #FFFFFF;
  font-size: 16px;
}
.tour-guide-button-endtour{
  background-color: #E4DCDC;
  width: 100px;
  height: 40px;
  border-radius: 12px;
  color: black;
  border: 2px solid #A7ADA7;
  font-size: 16px;
}
