 .modal-guide{
    width:900px;
    height:500px;
}

 .modal-body{
    max-height:500px;
    overflow:auto;
}
 .modal-img{
    max-width: 50%;
}
 .center {
    text-align: center;
  }
 .div {
    width: 200px;
    border: 3px solid #999;
  }
 
  .detail {
    text-align: justify;
  }

  .bt {
    background-color: #f93;
}

.btdropdown {
  background-color: #f93;
  border: none;
  color: white;
  padding: 7px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
  cursor: pointer;
}