<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog modal-guide">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header center">
            <h2 class="modal-title ">Welcome to Trend Monitor</h2>
          </div>

          <!-- Modal image-->
          <div class="modal-body center">
                <img src="assets/images/guide_tour/Penetrace-Logo-Farger.png" class="modal-img"> 
          </div>

          <!-- Modal detail-->
          <div class="modal-header center detail">
              <p>
              A trend monitor reports all your research, online traffic, sales and contextual data in one single dashboard solution. In the next few steps we will guide you through how to use trend monitor. The guided tour will only take 2-3 minutes of your time
            </p>
          </div>
          <div class="modal-footer">
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-8 center">
                <div class="row">
                  <div class="col-sm-1"></div>
                  <div class="col-sm-10 center">
                      <div class="row">
                          <div class="col-sm-3">
                              <button type="button" class="btn btn-default bt pull-right" data-dismiss="modal" onclick="onClickBack()">Back</button>
                          </div>
                          <div class="col-sm-6">
                              <div class="dropup">
                                  <button class="btn btn-default bt" type="button" data-toggle="dropdown">Welcome to Trend Monitor
                                    <span class="caret"></span>
                                  </button>
                                    <ul class="dropdown-menu">
                                      <li><a href="#">1</a></li>
                                      <li><a href="#">2</a></li>
                                      <li><a href="#">3</a></li>
                                      <li><a href="#">1</a></li>
                                      <li><a href="#">2</a></li>
                                      <li><a href="#">3</a></li>
                                    </ul>
                              </div>
                          </div>
                          <div class="col-sm-3">
                              <button type="button" class="btn btn-default bt pull-left" data-dismiss="modal" onclick="onClickNext()">Next</button>
                          </div>        
                        </div>
                      </div>
                  <div class="col-sm-1"></div>          
                </div>
              </div>
              <div class="col-sm-2">
              <button type="button" class="btn btn-default" data-dismiss="modal">End Tour</button>
              </div>
          </div>

        </div>
      </div>
    </div>